<div class="w-full">
    <div class="flex grid grid-cols-6 gap-6  flex-row">
        <mat-icon (click)="goBack()" class="cursor-pointer icon-size-6 text-primary col-span-1" [svgIcon]="'mat_outline:arrow_back'"></mat-icon>
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate col-span-4">
            Inventarios
        </h2>
    </div>
    <div class="flex flex-col gap-6  rounded-2xl shadow  bg-card w-full" >
        <div class="p-3 border-2 border-dashed border-gray-300 rounded-2xl">
            <div class="flex grid grid-cols-8 gap-6 items-center flex-row">
                <button class="col-span-2" mat-flat-button color="primary">
                    Visualizar factura
                    <mat-icon [svgIcon]="'heroicons_outline:document-download'"></mat-icon>
                </button>
                <div class="col-span-1">
                    <label>Servicio:</label>
                    <mat-radio-group class="flex flex-col mt-2" [color]="'primary'" [value]="'just-good'">
                        <mat-radio-button class="mb-2" [value]="'aereo'" checked="true" (change)="checkaerea($event)">
                            Aéreo
                        </mat-radio-button>
                        <mat-radio-button class="mb-2" [value]="'maritimo'">
                            Marítimo
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-span-3 text-center">
                    <h3 class="text-2xl font-bold">Último nro. procesado:</h3>
                    <h3 class="text-primary text-2xl font-bold">{{guiaRadicado}}</h3>
                </div>
                <div class="col-span-2 flex flex-col">
                    <div>
                        <label>Fecha de salida del envio:</label>
                        <mat-form-field
                            class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                            <input matInput [matDatepicker]="dueDatePicker">
                            <mat-datepicker #dueDatePicker>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>
                                        Clear
                                    </button>
                                    <button mat-flat-button [color]="'primary'" matDatepickerApply>
                                        Select
                                    </button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Total de envíos manifestados: </label>
                        <span class="font-bold text-xl">0</span>
                    </div>
                </div>
            </div>
        </div>
        <span class="p-2" style="margin-top: -30px">Seleccionar proceso</span>
        <div class="p-2 border-2 border-dashed border-gray-300 rounded-2xl" style="margin-top: -30px">
            <div class="flex grid grid-cols-6 gap-6 items-center flex-row">
                <mat-form-field class="w-full col-span-2">
                    <mat-label>Unidad</mat-label>
                    <select matNativeControl #myInput [(ngModel)]="unidad" name="unidad" (change)="traerProcesos()">
                        <option *ngFor="let unidad of unidades" [value]="unidad.codestatusunidad" >
                            {{unidad.nombre}}
                        </option>
                    </select>
                    <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:user'"></mat-icon> -->
                </mat-form-field>
                <mat-form-field class="flex-auto col-span-2">
                    <mat-label>Proceso</mat-label>
                    <select matNativeControl [(ngModel)]="proecesoSelected" name="proceso"  (click)="subProcesos = []" (change)="traerSubProcesos()">
                        <option *ngFor="let proceso of procesos" [value]="proceso.codestatusproceso" >
                            {{proceso.nombre}}
                        </option>
                    </select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:user'"></mat-icon>
                </mat-form-field>
                <mat-form-field class="flex-auto col-span-2">
                    <mat-label>Sub-proceso</mat-label>
                    <select matNativeControl [(ngModel)]="subProcesoSelected" name="subProceso" (change)="traerStatus()">
                        <option *ngFor="let sub of subProcesos" [value]="sub.codestatussubproceso" >
                            {{sub.nombre}}
                        </option>
                    </select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:user'"></mat-icon>
                </mat-form-field>
            </div>
        </div>
        <span class="p-2" style="margin-top: -30px">Ingrese los datos</span>
        <div class="p-2 border-2 border-dashed border-gray-300 rounded-2xl" style="margin-top: -30px">

            <div class="flex grid grid-cols-12 gap-12 items-center flex-row">
                <mat-form-field class="flex-auto col-span-12">
                    <mat-label>Estatus</mat-label>
                    <select matNativeControl [(ngModel)]="estatusSelected" name="estatus" [disabled]="subProcesoSelected === undefined"><!-- [disabled]="proveedorSelected === undefined" -->
                        <option *ngFor="let sta of estatus" [value]="sta.codestatus">
                            {{sta.nombre}}
                        </option>
                    </select>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:archive'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex grid grid-cols-6 gap-6 items-center flex-row">

                <mat-form-field class="  w-full col-span-2">
                    <mat-label>Envío</mat-label>
                    <input matInput type="number" max="20" (change)="consultarGuia()" [(ngModel)]="codGuia" name="shipper" [disabled]="estatusSelected === undefined" required >
                </mat-form-field>
                <mat-form-field class="flex-auto col-span-1">
                    <mat-label>Casillero</mat-label>
                    <input matInput type="text" max="10"  [(ngModel)]="codCasillero" name="shipper" readonly>
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:archive'"></mat-icon>
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label></mat-label>
                    <input matInput [(ngModel)]="nombrecasillero" readonly >
                </mat-form-field>
                <mat-form-field class="w-full col-span-2">
                    <mat-label></mat-label>
                    <input matInput [(ngModel)]="internacional" readonly >
                </mat-form-field>
            </div>
        </div>
        <div class="p-2 border-2 border-dashed border-gray-300 rounded-2xl" style="margin-top: -20px">
            <div class="flex grid grid-cols-10 gap-6 items-center flex-row">
                <mat-form-field class=" col-span-1">
                    <mat-label>Valor global ($)</mat-label>
                    <input matInput type="number" max="8"  [(ngModel)]="valorGlobal" name="valorglobal" required [disabled]="casilleroSelected === undefined">
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Suma items ($)</mat-label>
                    <input matInput type="number" max="8"  [(ngModel)]="sumaItems" name="sumaitems" required disabled>
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Otros ($)</mat-label>
                    <input matInput type="text"  [(ngModel)]="otrosItem" (ngModelChange)="sumarTotal()" name="otro"  required [disabled]="casilleroSelected === undefined">
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Total factura ($)</mat-label>
                    <input matInput type="text" [(ngModel)]="totalFactura" name="totalFactura"  disabled>
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Tipo envio</mat-label>
                    <input matInput type="text" max="2"   [(ngModel)]="tipoEnvio"  disabled>

                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Peso (kg)</mat-label>
                    <input matInput type="number" max="3"  [(ngModel)]="pesoitems" name="peso" required [disabled]="casilleroSelected === undefined">
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Alto (cm)</mat-label>
                    <input matInput type="number" max="3"  [(ngModel)]="altoitems" name="Alto" required [disabled]="casilleroSelected === undefined">
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Ancho (cm)</mat-label>
                    <input matInput type="number" max="3"  [(ngModel)]="anchoitems" name="ancho" required [disabled]="casilleroSelected === undefined">
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Largo (cm)</mat-label>
                    <input matInput type="number" max="3"  [(ngModel)]="largoitems" (change)="calcularVolumen()" name="largo" required [disabled]="casilleroSelected === undefined">
                </mat-form-field>
                <mat-form-field class="w-full col-span-1">
                    <mat-label>Volumen (kg)</mat-label>
                    <input matInput type="number"  [(ngModel)]="volumenitems" name="volumen" disabled>
                </mat-form-field>
            </div>
        </div>
        <div class="p-2 border-2 border-dashed border-gray-300 rounded-2xl" style="margin-top: -20px">
            <div class="flex grid grid-cols-12 gap-6 items-center flex-row">
                <div class="col-span-4 border-1 border-dashed border-gray-300 rounded-2xl p-0 ">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full col-span-2">
                        <mat-label>Observación</mat-label>
                        <textarea class="min-h-5 my-0 resize-none" style="margin: 11px 0 !important; padding: 0 !important;"
                            [rows]="3"
                            [(ngModel)]="description" name="descripcion"
                            matInput #messageInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold w-full col-span-2">
                        <mat-label>Repacking</mat-label>
                        <select matNativeControl disabled [placeholder]="'Seleccione'">
                            <option value=""></option>
                            <option value="select1-2">--</option>
                            <option value="select1-3">--</option>
                        </select>
                    </mat-form-field>
                </div>
                <div class="col-span-8 grid grid-cols-8 gap-6">
                    <table  class="col-span-6 mat-elevation-z1">
                        <thead>
                            <tr class="text-center tr-table">
                              <th>
                                <div class="form-check form-switch"><input
                                class="form-check-input"
                                type="checkbox"
                                id="flexSwitchCheckDefault1"
                                [disabled]="dataItemSelect.length ===0"
                                name="check1"
                                [(ngModel)]="selectAll"
                                (change)="verifyItemSelected(1, null)"
                              /></div></th>
                              <th scope="col">No. piezas</th>
                              <th scope="col">Descripción</th>
                              <th scope="col">Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="let item of dataItemSelect"
                              class="text-center tr-table"
                            >
                              <td>
                                <div class="form-check form-switch">
                                    <input
                                      class="form-check-input"
                                      type="checkbox"
                                      id="flexSwitchCheckDefault"
                                      [(ngModel)]="item.selected"
                                      (change)="verifyItemSelected(2, item)"
                                    />
                                  </div>
                              </td>
                              <td>{{ item.no }}</td>
                              <td>
                                {{item.description}}
                              </td>
                              <td>{{ item.value }}</td>

                            </tr>
                          </tbody>
                    </table>
                    <div class="col-span-2 grid gap-4">
                        <button mat-flat-button color="primary" (click)="openDialogagg()" [disabled]="codCasillero === undefined">
                            Agregar
                            <mat-icon [svgIcon]="'heroicons_outline:plus-sm'"></mat-icon>
                        </button>
                        <button mat-flat-button color="accent" (click)="modifyItem()" [disabled]="itemSelectedList?.length !== 1">
                            Modificar
                            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                        </button>
                        <button mat-flat-button color="warn" [disabled]="itemSelectedList?.length === 0" (click)="deleteItem()">
                            Eliminar
                            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-span-5 grid grid-cols-6 gap-6">
                    <div class="col-span-6 grid grid-cols-2">
                       <!--  <span class="col-span-2">Total items: 0</span>
                        <span class="col-span-2">Items permitidos: 0</span> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="flex flex-row justify-center gap-6" style="margin-top: -20px">
            <button class="col-span-2" (click)="crearManifiestoForm()" mat-flat-button color="primary">
                Aceptar
                <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
            </button>
            <button class="col-span-2" (click)="limpiarForm()" mat-flat-button color="accent">
                Limpiar
                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            </button>
            <button class="col-span-2" (click)="goTo('/home')" mat-flat-button color="warn">
                Cancelar
                <mat-icon [svgIcon]="'mat_outline:close'"></mat-icon>
            </button>
        </div>
    </div>
